__pycache__/
*.pyc
.venv/
venv/
.garminconnect
.garminconnect_base64
.oura_token
graficas/
.streamlit/secrets.toml
credenciales_hoja.json
hoja_id.txt
.nombre_paciente.txt
*export*.zip
apple_health_export/
